@charset "utf-8";
/* css for global */
{
    padding: 0px;
    margin: 0px;
}

body {
    width: 1024px;
    margin: 0 auto;
    font-size: 14px;
}

/* css for head */
#top {
    height: 240px;
}

#title_system{
    font-size: 46px;
    font-family: "楷体";
    padding: 40px 0 0 50px;
    font-weight: bold;
    color: #011326;
    float: right;
}

#time_user {
    padding: 6px 0 0 0;
    float: right;
}

#time {
    color: #c27ba0;
    position: relative;
    padding-right: 10px;
}

#user {
    color: #b6d7a8;
    float: right;
    padding: 6px 5px;
}

#user a {
    color: #5b0f00;
    text-decoration: none;
}

/* css for index */
#welcome {
    /* top right bottom left */
    padding: 50px 20px 0px 700px;
    float: relative;
}

/* css for jump text */
h2 {
    font-size:250%;
}
h2 span{
    float:left;
    position: relative;
}
h2 span:nth-child(1){
    -webkit-animation:jump 1s linear 0s infinite alternate;
}
h2 span:nth-child(2){
    -webkit-animation:jump 1s linear 0.2s infinite alternate;
}
h2 span:nth-child(3){
    -webkit-animation:jump 1s linear 0.4s infinite alternate;
}
h2 span:nth-child(4){
    -webkit-animation:jump 1s linear 0.6s infinite alternate;
}
h2 span:nth-child(5){
    -webkit-animation:jump 1s linear 0.8s infinite alternate;
}
h2 span:nth-child(6){
    -webkit-animation:jump 1s linear 1s infinite alternate;
}
@-webkit-keyframes jump
{
    0%{
        top:0px;
        color:red;
    }
    50%{
        top:-10px;
        color:green;
    }
    100%{
        top:10px;
        color:blue;
    }
}

#img {
    float: right;
    padding-right: 80px;
    padding-top: 200px;
}

#img img {
    width: 200px;
}

/* css for medium */
#main {
    height: 700px;
    padding-top: 18px;
    border: solid 1px;
    opacity: 1;
    background: url(../images/indexx_bg.jpg) no-repeat;
    background-size: auto 100%;
}

/* css for title_table */
#title_table {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

/* css for table_a */
#table_a {
    background: #679fd9;
    margin: 10px auto 0;
    width: 560px;
    text-align: center;
    padding: 2px 0 5px 0;
}

#table_a td {
    background: #f2f7fc;
    height: 26px;
}

#tr td {
    background: #999999;
    color: #FFFFFF;
}

.tr_button {
    height: 26px;
}

/* css for page */
#page {
    font-weight: 900;
}

#page a {
    color: #0011FF;
}

#print {
    float: right;
    padding: 5px 308px 0 0;
}

/* css for id: table_c */
#table_c {
    background: #679fd9;
    margin: 10px auto 0;
    width: 660px;
    text-align: center;
    padding: 2px 0 5px 0;
}

#table_c td {
    background: #f2f7fc;
    height: 26px;
}

#table_c #tr td {
    background: #999999;
    color: #FFFFFF;
}

/* css for id: table_enlarge */
#table_enlarge {
    background: #679fd9;
    margin: 10px auto 0;
    width: 900px;
    text-align: center;
    padding: 2px 0 5px 0;
}

#table_enlarge td {
    background: #f2f7fc;
    height: 26px;
}

#table_enlarge #tr td {
    background: #999999;
    color: #FFFFFF;
}

/* css for id: table_shrink */
#table_shrink {
    background: #679fd9;
    margin: 10px auto 0;
    width: 400px;
    text-align: center;
    padding: 2px 0 5px 0;
}

#table_shrink td {
    background: #f2f7fc;
    height: 26px;
}

#table_shrink #tr td {
    background: #999999;
    color: #FFFFFF;
}

#tel {
    width: 105px;
}

#address {
    width: 190px;
}

/* css for query */
#table_b_select {
    background: #7cb6f5;
    width: 300px;
    margin: 10px auto 30px;
    text-align: center;
}

#table_b_select td {
    background: #FFFFFF;
    height: 24px;
}

#select_name {
    color: #0466cd;
}

#height_select_if_top {
    height: 65px;
}

#height_select_if_bottom {
    height: 50px;
}

/* css for edit */
.title_edit {
    padding-top: 50px;
}

#hint {
    font-size: 12px;
    color: #999999;
    text-align: center;
    padding-top: 6px;
}

#hint span {
    color: #FF0000;
};

/* css for add */
#height_add_top {
    padding-top: 50px;
}

#height_add_bottom {
    padding-top: 80px;
}

/* css for bottom */
#foot {
    padding-top: 18px;
    padding-bottom: 18px;
}
.nav_bottom {
    height: 18px;
    background:#7a7777;
    /* background: #fce5cd; */
    position: relative;
    padding: 50px 0;
}
#copyright {
    text-align: center;
    color: #b6d7a8;
    font-size: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
}
